* {
  padding: 0;
  margin: 0;
}
.container {
  min-width: 450px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.container .left {
  float: left;
  margin-left: -100%;
  width: 148px;
  -webkit-border: 1px solid #5e5e5e;
  -moz-border: 1px solid #5e5e5e;
  -ms-border: 1px solid #5e5e5e;
  -o-border: 1px solid #5e5e5e;
  border: 1px solid #5e5e5e;
}
.container .left .pic {
  width: 120px;
  margin: 0 auto;
  -webkit-border: 1px solid #5e5e5e;
  -moz-border: 1px solid #5e5e5e;
  -ms-border: 1px solid #5e5e5e;
  -o-border: 1px solid #5e5e5e;
  border: 1px solid #5e5e5e;
  margin-bottom: 10px;
  font-size: 0;
}
.container .left .pic:first-child {
  margin-top: 10px;
}
.container .left .pic img {
  width: 120px;
}
.container .middle {
  float: left;
  -webkit-border: 1px solid #5e5e5e;
  -moz-border: 1px solid #5e5e5e;
  -ms-border: 1px solid #5e5e5e;
  -o-border: 1px solid #5e5e5e;
  border: 1px solid #5e5e5e;
  margin-right: 200px;
  margin-left: 170px;
}
.container .right {
  float: left;
  margin-left: -180px;
  width: 178px;
  -webkit-border: 1px solid #5e5e5e;
  -moz-border: 1px solid #5e5e5e;
  -ms-border: 1px solid #5e5e5e;
  -o-border: 1px solid #5e5e5e;
  border: 1px solid #5e5e5e;
}
.container .right ul li {
  list-style-type: none;
}
.container .right ul li a {
  text-decoration: none;
  color: #000000;
}
.container .right ul li a:hover {
  color: #ff0000;
}
