# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
eleme/business.html
eleme/commodity.html
eleme/confirmOrder.html
eleme/css/business/
eleme/css/commodity/
eleme/css/confirmOrder/
eleme/css/discovery/
eleme/css/evaluation/
eleme/css/font/
eleme/css/index/
eleme/css/login/
eleme/css/me/
eleme/css/newStore/
eleme/css/order/
eleme/css/settings/
eleme/css/updata/
eleme/discovery.html
eleme/evaluation.html
eleme/image/index/
eleme/image/startPagePic/
eleme/image/updata/
eleme/js/index/
eleme/login.html
eleme/me.html
eleme/newStore.html
eleme/order.html
eleme/settings.html
eleme/updata.html
