.left {
  float: left;
}
body {
  background-color: #f9f9f9;
}
body .container {
  width: 1165px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 28px;
}
body .container > div {
  width: 207px;
  height: 330px;
  float: left;
  margin: 20px 0 0 20px;
  border: 1px solid black;
  -wekit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}
.img {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 10%;
  left: 17%;
}
.img div {
  height: 50%;
  background: url("../image/pic.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.img div:last-child {
  -wekit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.top {
  width: 17px;
  position: absolute;
  top: 5%;
  left: 3%;
}
.top i {
  font-size: 30px;
}
.bottom {
  width: 17px;
  position: absolute;
  bottom: 5%;
  right: 3%;
  -wekit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bottom i {
  font-size: 30px;
}
.red i {
  color: #ca0000;
}
.k_hx .img div {
  background-position: -141px 0;
}
.k_hf .img div {
  background-position: -282px 0;
}
.k_ht .img div {
  background-position: -422px 0;
}
.q_hm .img div {
  background-position: 0 -123px;
}
.q_hx .img div {
  background-position: -141px -123px;
}
.q_hf .img div {
  background-position: -282px -123px;
}
.q_ht .img div {
  background-position: -420px -123px;
}
.j_hm .img div {
  background-position: 0 -246px;
}
.j_hx .img div {
  background-position: -141px -246px;
}
.j_hf .img div {
  background-position: -281px -246px;
}
.j_ht .img div {
  background-position: -421px -246px;
}
.a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23.5px;
  margin-left: -20px;
}
.a i {
  font-size: 53px;
}
.bodycontent {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 12%;
  left: 17%;
}
.bodycontent i {
  font-size: 53px;
}
.content_10 {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 12%;
  left: 17%;
}
.content_10 i {
  font-size: 53px;
}
.content_10 i {
  float: left;
}
.content_10 .right {
  float: right;
}
.content_10 .up {
  position: absolute;
  left: 50%;
  margin-left: -26.5px;
  top: 32px;
}
.content_10 .down {
  position: absolute;
  left: 51%;
  margin-left: -26.5px;
  bottom: 32px;
  -wekit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content_9 .up {
  top: 50%;
  margin-top: -31px;
}
.content_8 {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 12%;
  left: 17%;
}
.content_8 i {
  font-size: 53px;
}
.content_8 i {
  float: left;
}
.content_8 .right {
  float: right;
}
.content_8 .center {
  display: inline-block;
  margin: 34px 0;
}
.content_8 .up {
  position: absolute;
  left: 50%;
  margin-left: -26.5px;
  top: 50px;
}
.content_8 .down {
  position: absolute;
  left: 50%;
  margin-left: -26.5px;
  bottom: 42px;
  -wekit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.content_5 {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 12%;
  left: 17%;
}
.content_5 i {
  font-size: 53px;
}
.content_5 i {
  float: left;
}
.content_5 .down_c {
  margin-top: 129px;
}
.content_5 .down_3 {
  margin-top: 190px;
}
.content_5 .right {
  float: right;
}
.content_5 .down {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
