* {
  padding: 0;
  margin: 0;
}
.col {
  float: left;
}
.container {
  padding: 40px;
  overflow: hidden;
  min-width: 500px;
}
.container .middle {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 240px 20px 215px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.container .middle p {
  text-indent: 2em;
  margin-top: 20px;
  text-align: justify;
}
.container .left {
  width: 150px;
  background: yellow;
  margin-left: -99%;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -ms-box-shadow: 0 0 5px #000000;
  -o-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  margin-top: 20px;
  padding-bottom: 20px;
}
.container .left img {
  width: 120px;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -ms-box-shadow: 0 0 5px #000000;
  -o-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  vertical-align: top;
}
.container .right {
  width: 180px;
  margin-left: -190px;
}
.container .right ul li {
  list-style-type: none;
  margin-top: 10px;
}
.container .right ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #626262;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.container .right ul li a:hover {
  background: #000;
}
