body {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.container {
  color: #6f7070;
}
.container .top {
  text-align: center;
}
.container .content {
  float: left;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 352px;
}
.container .items {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .container .items {
    width: 900px;
  }
}
@media screen and (max-width: 900px) {
  .container .items {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .container .items {
    width: 400px;
  }
  .container .items .content {
    margin: 0 auto;
  }
}
.container .items .item {
  box-shadow: 0 0 5px black;
}
.container .items .item img {
  width: 100%;
  height: 200px;
}
.container .items .item .bottom {
  font-size: 10px;
  padding: 0 10px 40px 10px;
}
.container .items .item .bottom span:last-child {
  float: right;
}
.foot {
  text-align: center;
}
.foot a {
  display: inline-block;
  width: 300px;
  height: 40px;
  background-color: #ee786a;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
}
.foot a:hover {
  background-color: #d66b62;
}
