* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  margin: 0;
  background-color: #ececec;
}
.top {
  height: 60px;
  background-color: #3492ea;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.top .inner {
  width: 95%;
  margin: 0 auto;
}
.top .inner .left {
  float: left;
  line-height: 60px;
}
.top .inner .right {
  float: right;
  line-height: 60px;
}
.top .dd {
  line-height: 60px;
}
.fl {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
  background-color: #fff;
}
.fl .par {
  width: 33.3%;
  text-align: center;
  position: relative;
}
.fl .par .chil {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: palevioletred;
  width: 180px;
}
.fl .par .chil .it {
  height: 30px;
}
.fl .par .chil .it .tchi {
  position: absolute;
  left: 180px;
  top: 0;
}
.fl .par .chil .it .tchi .tit {
  height: 30px;
  width: 180px;
  background-color: red;
}
.fl .par .chil .it .tchi .tit .titc {
  border-bottom: 1px solid;
  height: 100%;
}
.fl .par:first-child {
  border-right: 1px solid #000;
}
.fl .par:last-child {
  border-left: 1px solid #000;
}
.item {
  background-color: #fff;
  overflow: hidden;
  clear: both;
}
.item .inner {
  overflow: hidden;
  width: 95%;
  float: right;
  border-bottom: 1px solid;
  padding: 10px 0px;
}
.item .pic {
  float: left;
  width: 20%;
  padding: 10px 10px 10px 0;
}
.item .pic img {
  width: 100%;
}
.item .con {
  float: left;
  width: 80%;
}
.item .con .ct {
  border-bottom: 1px solid;
  overflow: hidden;
}
.item .con .ct .left {
  width: 65%;
  float: left;
}
.item .con .ct .left ul {
  overflow: hidden;
}
.item .con .ct .left li {
  float: left;
}
.item .con .ct .left .star_bg {
  overflow: hidden;
}
.item .con .ct .left .star_bg .star {
  display: block;
  height: 15px;
  width: 15px;
  float: left;
  background: url('../../../image/外卖/star.gif');
  background-size: cover;
}
.item .con .ct .right {
  width: 35%;
  float: right;
}
.item .con .ct .right li {
  text-align: right;
  margin-right: 10px;
}
.item .con .ct .right li .qs,
.item .con .ct .right li .ps {
  color: red;
}
.item .con .ct .right li .qs {
  font-size: 20px;
}
