body {
  background-color: #efefef;
}
body ul,
body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body .top {
  height: 110px;
  background-color: #3492ea;
  color: #fff;
}
body .top .inner {
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
}
body .top .inner .location {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
body .top .inner .search form {
  position: relative;
}
body .top .inner .search form input {
  height: 35px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 7px;
  color: #7d7d7d;
}
body .top .inner .search form .searchIcon {
  position: absolute;
  top: 25%;
  left: 30%;
}
body .middle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px 0 5px 0;
  box-shadow: 0px 0px 4px 0px #9E9E9E;
}
body .middle .item {
  width: 25%;
  text-align: center;
  margin-bottom: 10px;
}
body .middle .item .img img {
  width: 50px;
}
body .rsl {
  background-color: #fff;
}
body .rsl .fl {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid;
}
body .rsl .fl li {
  float: left;
  width: 33.3%;
  text-align: center;
}
body .rsl .fl li:first-child {
  border-right: 1px solid #000;
}
body .rsl .fl li:last-child {
  border-left: 1px solid #000;
}
body .rsl .item {
  background-color: #fff;
  overflow: hidden;
}
body .rsl .item .inner {
  overflow: hidden;
  width: 95%;
  float: right;
  border-bottom: 1px solid;
}
body .rsl .item .pic {
  float: left;
  width: 20%;
  padding: 10px 10px 10px 0;
}
body .rsl .item .pic img {
  width: 100%;
}
body .rsl .item .con {
  float: left;
  width: 80%;
}
body .rsl .item .con .ct {
  border-bottom: 1px solid;
  overflow: hidden;
}
body .rsl .item .con .ct .left {
  width: 65%;
  float: left;
}
body .rsl .item .con .ct .left ul {
  overflow: hidden;
}
body .rsl .item .con .ct .left li {
  float: left;
}
body .rsl .item .con .ct .left .star_bg {
  overflow: hidden;
}
body .rsl .item .con .ct .left .star_bg .star {
  display: block;
  height: 15px;
  width: 15px;
  float: left;
  background: url('../../../image/外卖/star.gif');
  background-size: cover;
}
body .rsl .item .con .ct .right {
  width: 35%;
  float: right;
}
body .rsl .item .con .ct .right li {
  text-align: right;
  margin-right: 10px;
}
body .rsl .item .con .ct .right li .qs,
body .rsl .item .con .ct .right li .ps {
  color: red;
}
body .rsl .item .con .ct .right li .qs {
  font-size: 20px;
}
body .bottomnav {
  display: flex;
  text-align: center;
}
body .bottomnav .item {
  width: 25%;
  padding: 5px;
}
