* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
.top {
  height: 60px;
  background-color: #3492ea;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.top .inner {
  padding: 0 10px;
}
.top .inner span {
  line-height: 60px;
}
.top .inner span:first-child {
  float: left;
}
.top .inner span:last-child {
  float: right;
}
.login {
  background-color: white;
  margin-bottom: 15px;
}
.login .username {
  border-bottom: 1px solid;
}
.login .username,
.login .userpassword {
  margin-left: 15px;
  height: 40px;
}
.login .username input,
.login .userpassword input {
  width: 100%;
  border: none;
  outline: none;
  line-height: 40px;
}
.submit {
  margin: 0 10px;
}
.submit button {
  width: 100%;
  height: 40px;
  display: block;
  background-color: forestgreen;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 10px;
  outline: none;
}
.submit a {
  text-decoration: none;
}
.submit a:last-child {
  float: right;
}
.bottom {
  text-align: center;
  position: fixed;
  bottom: 40px;
  width: 100%;
}
.bottom p {
  margin-bottom: 10px;
}
.bottom .s {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.bottom .s .weichat {
  width: 33.33%;
}
.bottom .s .weichat .img img {
  width: 50%;
  border-radius: 100%;
}
