body {
  margin: 0;
  background-color: whitesmoke;
}
* {
  padding: 0;
  margin: 0;
}
.top {
  background-color: #3492ea;
  color: #fff;
}
.top .inner {
  padding: 0 10px;
}
.top .inner .title {
  font-size: 1.3rem;
  text-align: center;
}
.top .inner .title span:first-child {
  float: left;
}
.top .inner .title span:last-child {
  float: right;
}
.top .inner .user {
  overflow: hidden;
  padding: 20px 0;
}
.top .inner .user .left {
  float: left;
  width: 50px;
  display: inline-block;
}
.top .inner .user .left img {
  border-radius: 100%;
  width: 100%;
  vertical-align: middle;
}
.top .inner .user .middle {
  float: left;
  margin-left: 15px;
}
.top .inner .user .middle p:first-child {
  font-size: 1.3rem;
}
.top .inner .user .right {
  float: right;
  margin-top: 10px;
  font-size: 1.3rem;
}
.de {
  background-color: white;
  display: flex;
  margin-bottom: 15px;
}
.de .item {
  width: 33.333%;
  text-align: center;
  padding: 25px 0 10px 0;
}
.de .item .a {
  font-size: 1.7rem;
}
.de .item .orange {
  color: #fddf13;
}
.de .item .red {
  color: #f63137;
}
.de .item .green {
  color: #80c21a;
}
.de .item:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
}
.one {
  margin-bottom: 15px;
}
.one .box-one {
  background-color: white;
  overflow: hidden;
  padding: 10px 0 0 15px;
}
.one .box-one .icon {
  width: 6%;
  float: left;
}
.one .box-one .icon img {
  border-radius: 100%;
  width: 100%;
}
.one .box-one .r {
  float: right;
  width: 90%;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid;
}
.one .box-one .r span {
  font-size: 1.3rem;
}
.one .box-one .r span:last-child {
  float: right;
  margin-right: 10px;
}
.one .box-one .last {
  border-bottom: none;
}
.bottomnav {
  display: flex;
  text-align: center;
}
.bottomnav .item {
  width: 25%;
  padding: 5px;
}
