ul {
    padding-left: 10px;
}
li {
    list-style-type: none;
}
.container {
    margin: 30px;
}
.first {
    position: relative;
}
.firstChange {
    position: relative;
}
.first::before {
    content: '\e656';
    font-family: 'iconfont';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -30px;
    font-size: 22px;
    color: yellow;
}
.firstChange::before {
    content: '\e63c';
    font-family: 'iconfont';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -30px;
    font-size: 22px;
    color: yellow;
}
.second-menu {
display: none;
}
.third-menu {
display: none;
}
