.left {
  float: left;
}
.pre(@style, @value) {
  -wekit-@{style}: @value;
  -moz-@{style}: @value;
  -ms-@{style}: @value;
  -o-@{style}: @value;
  @{style}: @value;
}
.border-radius(@value) {
  .pre(border-radius, @value);
}
.transform (@value) {
  .pre(transform, rotate(@value));
}
.bg_size(@value) {
  .pre(background-size, @value);
}
@div_width: 207px;
@div_height: 330px;
body {
  background-color: #f9f9f9;
  .container {
    width: 1165px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 28px;
    &>div {
      width: @div_width;
      height: @div_height;
      float: left;
      margin: 20px 0 0 20px;
      border: 1px solid black;
      .border-radius(10px);
      position: relative;
      background-color: #fff;
    }
  }
}
.img {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 10%;
  left: 17%;
  div {
    height: 50%;
    background: url("../image/pic.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    &:last-child {
      .transform(180deg);
    }
  }
}
//两边的字符和图案的大小
@font_size: 30px;
.top {
  width: 17px;
  position: absolute;
  top: 5%;
  left: 3%;
  i {
    font-size: @font_size;
  }
}
.bottom {
  width: 17px;
  position: absolute;
  bottom: 5%;
  right: 3%;
  .transform(180deg);
  i {
    font-size: @font_size;
  }
}
.red {
  i {
    color: #ca0000;
  }
}
@pic_width: 140px;
@pic_height: 123px;
.k_hx {
  .img div {
    background-position: -(@pic_width + 1) 0;
  }
}
.k_hf {
  .img div {
    background-position: -(@pic_width * 2 + 2) 0;
  }
}
.k_ht {
  .img div {
    background-position: -(@pic_width * 3 + 2) 0;
  }
}
.q_hm {
  .img div {
    background-position: 0 -(@pic_height);
  }
}
.q_hx {
  .img div {
    background-position: -(@pic_width + 1) -(@pic_height);
  }
}
.q_hf {
  .img div {
    background-position: -(@pic_width * 2 + 2) -(@pic_height);
  }
}
.q_ht {
  .img div {
    background-position: -(@pic_width * 3) -(@pic_height);
  }
}
.j_hm {
  .img div {
    background-position: 0 -(@pic_height * 2);
  }
}
.j_hx {
  .img div {
    background-position: -(@pic_width + 1) -(@pic_height * 2);
  }
}
.j_hf {
  .img div {
    background-position: -(@pic_width * 2 + 1) -(@pic_height * 2);
  }
}
.j_ht {
  .img div {
    background-position: -(@pic_width * 3 + 1) -(@pic_height * 2);
  }
}

.a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23.5px;
  margin-left: -20px;
  i {
    font-size: 53px;
  }
}

.bodycontent {
  width: 67%;
  height: 74%;
  position: absolute;
  top: 12%;
  left: 17%;
  i {
    font-size: 53px;
  }
}

.content_10 {
  .bodycontent;
  i {
    float: left;
  }
  .right {
    float: right;
  }
  .up {
    position: absolute;
    left: 50%;
    margin-left: -26.5px;
    top: 32px;
  }
  .down{
    position: absolute;
    left:51%;
    margin-left:-26.5px;
    bottom:32px;
    .transform(180deg);
  }
}

.content_9 {
  .up {
    top: 50%;
    margin-top: -31px;
  }
}
.content_8 {
  .bodycontent;
  i {
    float: left;
  }
  .right {
    float: right;
  }
  .center {
    display: inline-block;
    margin: 34px 0;
  }
  .up {
    position: absolute;
    left: 50%;
    margin-left: -26.5px;
    top: 50px;
  }
  .down {
    position: absolute;
    left: 50%;
    margin-left: -26.5px;
    bottom: 42px;
    .transform(180deg);
  }
}

.content_5 {
  .bodycontent;
  i {
    float: left;
  }
  .down_c {
    margin-top: 129px;
  }
  .down_3 {
    margin-top: 190px;
  }
  .right {
    float: right;
  }
  .down {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
  }
}