* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.header {
  height: 60px;
  background-color: #3492ea;
}
.header p {
  margin: 0 15px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.header p span:first-child {
  float: left;
}
.header p span:last-child {
  float: right;
}
.item {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px dashed ;
}
.item p {
  margin: 0 15px;
  line-height: 80px;
  font-size: 1.3rem;
}
.item p span:last-child {
  float: right;
  color: #5b5b5b;
}
.pay {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.pay .a {
  color: #484848;
}
.pay .weixin {
  background-color: deepskyblue;
  border-radius: 2px;
  font-size: 0.9rem;
}
.pay .lj {
  background-color: #f63137;
  border-radius: 2px;
  font-size: 0.9rem;
}
.pay .check {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #6ba71a;
  text-align: center;
  float: right;
}
.pay .check span {
  color: #fff;
  font-size: 1.5rem;
  line-height: 30px;
}
.pay .m {
  display: inline-block;
}
.it {
  background-color: #fff;
}
.it div {
  margin-left: 10px;
  line-height: 49px;
  border-bottom: 1px solid #ccc;
}
.it div span:last-child {
  float: right;
  margin-right: 10px;
  color: #5b5b5b;
  font-size: 0.9rem;
}
.it div span:nth-child(2) {
  float: right;
  margin: 0 10px 0 40px;
}
.it .tt {
  color: #9e9e9e!important;
}
.it .bn {
  border-bottom: none;
}
.bottom {
  margin-bottom: 20px;
}
.psf {
  background-color: #fff;
}
.psf .inner {
  overflow: hidden;
  padding: 10px 10px 10px 0;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
}
.psf .inner .p {
  float: left;
}
.psf .inner .p .psp {
  color: red;
}
.psf .inner .p .ps {
  font-size: 0.8rem;
}
.psf .inner .price {
  color: red;
  float: right;
  line-height: 50px;
}
.ds {
  float: right;
  margin: 5px 10px;
}
.ds span:first-child {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: deepskyblue;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
.ds span:last-child {
  color: deepskyblue;
}
.ok {
  display: flex;
  clear: both;
}
.ok .total {
  background-color: #2e2e2e;
  line-height: 50px;
  width: 65%;
  padding-left: 10px;
}
.ok .total .zj {
  color: #fff;
  font-size: 1.4rem;
}
.ok .total .y {
  color: #a4a4a4;
}
.ok .confirm {
  background-color: #08c264;
  width: 35%;
  line-height: 50px;
  color: white;
  text-align: center;
}
