body {
  margin: 0;
  background-color: #ececec;
}
.top {
  height: 60px;
  background-color: #3492ea;
  color: #fff;
  text-align: center;
}
.top .dd {
  line-height: 60px;
}
.one-box {
  background-color: white;
  overflow: hidden;
  margin-bottom: 15px;
}
.one-box .left {
  width: 30%;
  height: 100%;
  border-right: 1px solid;
  text-align: center;
  float: left;
  box-sizing: border-box;
}
.one-box .left span {
  display: block;
}
.one-box .left span:first-child {
  font-size: 1.4rem;
  color: #f63137;
}
.one-box .left img {
  width: 70px;
}
.one-box .right {
  width: 70%;
  float: left;
  box-sizing: border-box;
}
.one-box .right .top-div {
  overflow: hidden;
  border-bottom: 1px solid;
  padding: 10px 16px;
}
.one-box .right .top-div .l {
  float: left;
}
.one-box .right .top-div .l span {
  display: block;
}
.one-box .right .top-div .l .dj {
  font-size: 1.4rem;
  color: #93df1d;
}
.one-box .right .top-div .l .fj {
  font-size: 1.4rem;
  color: #0000ff;
}
.one-box .right .top-div .r {
  float: right;
}
.one-box .right .top-div .r img {
  width: 70px;
}
.two-box {
  background-color: white;
  border: 1px solid transparent;
}
.two-box .top-box {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}
.two-box .top-box .xs {
  font-size: 1.4rem;
}
.two-box .top-box .more {
  float: right;
  font-size: 1.1rem;
  color: #868686;
}
.two-box .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
}
.two-box .items .item {
  width: 48%;
  margin: 0 2% 2% 0;
}
.two-box .items .item .img {
  width: 100%;
  height: 220px;
}
.two-box .items .item .img img {
  width: 100%;
  height: 100%;
}
.two-box .items .item .t {
  border: 1px solid;
  padding: 0 10px;
}
.two-box .items .item .t .price {
  display: block;
  color: red;
  font-size: 1.3rem;
  margin-top: 10px;
}
.bottomnav {
  display: flex;
  text-align: center;
}
.bottomnav .item {
  width: 25%;
  padding: 5px;
}
