* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
  box-sizing: border-box;
}
@media screen and (max-width: 340px) {
  html {
    font-size: 0.9rem;
  }
  html body #table li label .unit {
    width: 26%;
  }
  html body #contract .bottom label .unit {
    width: 22%;
    font-size: 0.8rem;
    color: #a9a9a9;
  }
}
li {
  list-style-type: none;
}
body {
  background-color: #f5f5f5;
}
body #mini-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
body #mini-header p {
  width: 100%;
  line-height: 60px;
  background-color: #393a3e;
  text-align: center;
  font-weight: 800;
  color: #fff;
  font-size: 1.3rem;
}
body .inner {
  padding: 0 20px;
  margin-top: 20%;
}
body .inner #header {
  width: 75%;
  background-color: white;
  margin: 5% auto 5% auto;
  display: flex;
  -webkit-box-shadow: 0px 0px 1px #898989;
  -zol-box-shadow: 0px 0px 1px #898989;
  -ms-box-shadow: 0px 0px 1px #898989;
  -o-box-shadow: 0px 0px 1px #898989;
  box-shadow: 0px 0px 1px #898989;
  -webkit-border-radius: 5px;
  -zol-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #444;
}
body .inner #header .active {
  background-color: #00da00;
  color: #fff;
}
body .inner #header li {
  width: 50%;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #6f6f6f;
  text-decoration: none;
}
body .inner #header .data {
  -webkit-border-top-left-radius: 5px;
  -zol-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -zol-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body .inner #header .result {
  -webkit-border-top-right-radius: 5px;
  -zol-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -zol-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .inner #one #table {
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;
  -webkit-border-radius: 2px;
  -zol-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #9e9e9e;
  -zol-box-shadow: 0 0 1px #9e9e9e;
  -ms-box-shadow: 0 0 1px #9e9e9e;
  -o-box-shadow: 0 0 1px #9e9e9e;
  box-shadow: 0 0 1px #9e9e9e;
  margin-bottom: 30px;
}
body .inner #one #table li {
  border-bottom: 1px solid #e0e0e0;
}
body .inner #one #table li:last-child {
  border-bottom: none;
}
body .inner #one #table li label {
  display: flex;
  width: 100%;
  line-height: 50px;
}
body .inner #one #table li label .klass {
  width: 50%;
  color: #525252;
  font-size: 0.8rem;
}
body .inner #one #table li label .input {
  width: 44%;
  border: none;
  outline: none;
  text-align: right;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 600;
}
body .inner #one #table li label input::-moz-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #table li label input::-moz-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #table li label input:-ms-input-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #table li label input::-webkit-input-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #table li label .unit {
  width: 20%;
  font-size: 0.6rem;
  color: #a9a9a9;
  text-align: right;
}
body .inner #one #table li label .dev {
  width: 67%;
  margin-left: -30px;
}
body .inner #one #contract {
  padding: 0 15px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -zol-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #9e9e9e;
  -zol-box-shadow: 0 0 1px #9e9e9e;
  -ms-box-shadow: 0 0 1px #9e9e9e;
  -o-box-shadow: 0 0 1px #9e9e9e;
  box-shadow: 0 0 1px #9e9e9e;
  margin-bottom: 40px;
}
body .inner #one #contract .top {
  position: relative;
  overflow: hidden;
  line-height: 50px;
  border-bottom: 1px solid #e0e0e0;
}
body .inner #one #contract .top .it {
  float: left;
  color: #525252;
  font-size: 0.8rem;
}
body .inner #one #contract .top .right {
  width: 50%;
  float: right;
}
body .inner #one #contract .top .right .mode {
  color: #525252;
  font-size: 0.8rem;
  border: none;
  width: 84%;
  background-color: transparent;
  outline: none;
}
body .inner #one #contract .top .right .reserved {
  display: inline-block;
  width: 15px;
  height: 15px;
}
body .inner #one #contract .top .right .reserved .help {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  text-align: center;
  line-height: 15px;
  -webkit-border-radius: 100%;
  -zol-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #bcbcbc;
  color: #fff;
  position: relative;
  font-weight: 800;
}
body .inner #one #contract .item {
  border-bottom: 1px solid #e0e0e0;
}
body .inner #one #contract .item:last-child {
  border-bottom: none;
}
body .inner #one #contract .item label {
  display: flex;
  width: 100%;
  line-height: 50px;
}
body .inner #one #contract .item label .price {
  width: 25%;
  color: #525252;
  font-size: 0.8rem;
}
body .inner #one #contract .item label .input {
  width: 55%;
  border: none;
  outline: none;
  text-align: right;
  color: #4e4e4e;
  font-weight: 600;
}
body .inner #one #contract .item label .unit {
  width: 20%;
  font-size: 0.6rem;
  color: #a9a9a9;
}
body .inner #one #contract .item label .dev {
  width: 60%;
  margin-left: -30px;
}
body .inner #one #contract .qdlbpc,
body .inner #one #contract .fc,
body .inner #one #contract .bdfc {
  display: none;
}
body .inner #one #contract label {
  display: flex;
  width: 100%;
  line-height: 50px;
}
body .inner #one #contract label .klass {
  width: 60%;
  color: #525252;
  font-size: 0.8rem;
}
body .inner #one #contract label .input {
  width: 44%;
  border: none;
  outline: none;
  text-align: right;
  color: #333333;
  font-size: 0.9rem;
  font-weight: 600;
}
body .inner #one #contract label input::-moz-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #contract label input::-moz-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #contract label input:-ms-input-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #contract label input::-webkit-input-placeholder {
  font-weight: normal;
  color: #a9a9a9;
  font-size: 0.6rem;
}
body .inner #one #contract label .unit {
  width: 20%;
  font-size: 0.6rem;
  color: #a9a9a9;
  text-align: right;
}
body .inner #one #contract label .dev {
  width: 67%;
  margin-left: -30px;
}
body .inner #one #footer {
  display: flex;
  margin-bottom: 60px;
}
body .inner #one #footer div {
  width: 50%;
  text-align: center;
  padding: 0 10px;
}
body .inner #one #footer div span {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -zol-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
body .inner #one #footer div .reset {
  background-color: #777777;
}
body .inner #one #footer div .cal {
  background-color: green;
}
body .inner #one .second-menu {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 12px 0px #cacaca;
  -zol-box-shadow: 0 0 12px 0px #cacaca;
  -ms-box-shadow: 0 0 12px 0px #cacaca;
  -o-box-shadow: 0 0 12px 0px #cacaca;
  box-shadow: 0 0 12px 0px #cacaca;
  position: absolute;
  left: 5%;
  top: 30%;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -zol-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
}
body .inner #one .second-menu .top {
  position: relative;
}
body .inner #one .second-menu .top .title {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
body .inner #one .second-menu .top .close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 20px;
}
body .inner #one .second-menu .bottom {
  padding: 20px;
}
body .inner #one .second-menu .bottom .title {
  color: #747474;
  margin-bottom: 10px;
}
body .inner #one .second-menu .bottom .content .minTitle {
  color: green;
  font-weight: 800;
  text-indent: 2rem;
}
body .inner #one .second-menu .bottom .text {
  text-indent: 2rem;
}
body .inner #one .second-menu .bottom .button {
  overflow: hidden;
  margin-bottom: 30px;
}
body .inner #one .second-menu .bottom .button .cancel {
  float: left;
}
body .inner #one .second-menu .bottom .button .confirm {
  float: right;
  color: green;
}
body .inner #one .second-menu .bottom .select {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: transparent;
}
body .inner #one .second-menu .bottom .select li {
  line-height: 40px;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
}
body .inner #one .contractHelp {
  display: none;
}
body .inner #two {
  display: none;
}
body .inner #two .description {
  text-align: center;
  font-size: 0.7rem;
  color: #989898;
  margin-bottom: 20px;
}
body .inner #two #result {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
  margin-bottom: 60px;
  -webkit-border-radius: 2px;
  -zol-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #9e9e9e;
  -zol-box-shadow: 0 0 1px #9e9e9e;
  -ms-box-shadow: 0 0 1px #9e9e9e;
  -o-box-shadow: 0 0 1px #9e9e9e;
  box-shadow: 0 0 1px #9e9e9e;
}
body .inner #two #result ul .item {
  line-height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
body .inner #two #result ul .item:last-child {
  border-bottom: none;
}
body .inner #two #result ul .item .it {
  float: left;
  color: #525252;
  font-size: 0.8rem;
}
body .inner #two #result ul .item .right {
  float: right;
}
body .inner #two #result ul .item .right .total {
  color: limegreen;
  font-size: 0.9rem;
}
body .inner #two #result ul .item .right .reserved {
  display: inline-block;
  width: 15px;
  height: 15px;
}
body .inner #two #result ul .item .right .reserved .help {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  text-align: center;
  line-height: 15px;
  -webkit-border-radius: 100%;
  -zol-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #bcbcbc;
  color: #fff;
  position: relative;
}
body .inner #two .second-menu {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 12px 0px #cacaca;
  -zol-box-shadow: 0 0 12px 0px #cacaca;
  -ms-box-shadow: 0 0 12px 0px #cacaca;
  -o-box-shadow: 0 0 12px 0px #cacaca;
  box-shadow: 0 0 12px 0px #cacaca;
  position: absolute;
  left: 5%;
  top: 45%;
  background-color: #fff;
  display: none;
}
body .inner #two .second-menu .top {
  position: relative;
}
body .inner #two .second-menu .top .title {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
body .inner #two .second-menu .top .close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 20px;
}
body .inner #two .second-menu .bottom {
  padding: 20px;
}
body .inner #two .second-menu .bottom .text {
  text-indent: 2rem;
}
