* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}
li {
  list-style-type: none;
}
@media screen and (max-width: 340px) {
  html {
    font-size: 0.9rem;
  }
}
body {
  background-color: #f5f5f5;
  padding: 0 20px;
}
body #header {
  width: 75%;
  background-color: white;
  margin: 5% auto 5% auto;
  display: flex;
  -webkit-box-shadow: 0px 0px 1px #898989;
  -zol-box-shadow: 0px 0px 1px #898989;
  -ms-box-shadow: 0px 0px 1px #898989;
  -o-box-shadow: 0px 0px 1px #898989;
  box-shadow: 0px 0px 1px #898989;
  -webkit-border-radius: 5px;
  -zol-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #444;
}
body #header .active {
  background-color: #00da00;
  color: #fff;
}
body #header li {
  width: 50%;
  line-height: 40px;
  text-align: center;
}
body #header li a {
  display: inline-block;
  width: 100%;
  color: #6f6f6f;
  text-decoration: none;
}
body #header .data {
  -webkit-border-top-left-radius: 5px;
  -zol-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -zol-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body #header .result {
  -webkit-border-top-right-radius: 5px;
  -zol-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -zol-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .description {
  text-align: center;
  font-size: 0.7rem;
  color: #989898;
  margin-bottom: 20px;
}
body #result {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
  margin-bottom: 60px;
  -webkit-border-radius: 2px;
  -zol-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #9e9e9e;
  -zol-box-shadow: 0 0 1px #9e9e9e;
  -ms-box-shadow: 0 0 1px #9e9e9e;
  -o-box-shadow: 0 0 1px #9e9e9e;
  box-shadow: 0 0 1px #9e9e9e;
}
body #result ul .item {
  line-height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
body #result ul .item:last-child {
  border-bottom: none;
}
body #result ul .item .it {
  float: left;
  color: #525252;
  font-size: 0.8rem;
}
body #result ul .item .right {
  float: right;
}
body #result ul .item .right .total {
  color: limegreen;
  font-size: 0.9rem;
}
body #result ul .item .right .reserved {
  display: inline-block;
  width: 15px;
  height: 15px;
}
body #result ul .item .right .reserved .help {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  text-align: center;
  line-height: 15px;
  -webkit-border-radius: 100%;
  -zol-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #bcbcbc;
  color: #fff;
  position: relative;
}
body .second-menu {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 12px 0px #cacaca;
  -zol-box-shadow: 0 0 12px 0px #cacaca;
  -ms-box-shadow: 0 0 12px 0px #cacaca;
  -o-box-shadow: 0 0 12px 0px #cacaca;
  box-shadow: 0 0 12px 0px #cacaca;
  position: absolute;
  left: 5%;
  top: 45%;
  background-color: #fff;
  display: none;
}
body .second-menu .top {
  position: relative;
}
body .second-menu .top .title {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
body .second-menu .top .close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 20px;
}
body .second-menu .bottom {
  padding: 20px;
}
body .second-menu .bottom .text {
  text-indent: 2rem;
}
